- [x] Tuple
- [x] Dictionary
- [x] Functions

In [2]:
lone = [1, 3, 5, 7]
lone

[1, 3, 5, 7]

In [60]:
lone[:]

[1, 'Hola', 5, 7]

In [3]:
 lone[1] = 'Hola'

In [4]:
lone

[1, 'Hola', 5, 7]

## Immutable by default

In [5]:
m1 = (1, 5)

In [6]:
type(m1)

tuple

In [11]:
m1[0] = 'Hola'

TypeError: 'tuple' object does not support item assignment

In [10]:
name = "Python"
type(name)

str

In [9]:
name[0]

'P'

In [12]:
 my_tuple = ()

In [13]:
my_tuple = (1,2,3)

In [14]:
my_tuple

(1, 2, 3)

In [15]:
my_tuple = (1,2,3, 'Hi')

In [16]:
my_tuple

(1, 2, 3, 'Hi')

### nested data types inside tuple

In [17]:
new_tuple =  ("Tom", 4, [1, 7, 9], ('a', 'b', 'c'))

In [24]:
new_tuple[0][1]

'o'

### Tuple packing

In [25]:
free_style_tuple = 3, 4, 8, 'Tiger'

In [26]:
free_style_tuple

(3, 4, 8, 'Tiger')

In [27]:
type(free_style_tuple)

tuple

In [29]:
nt = (1001, 'Tom', 'warden')

In [31]:
idnum = nt[0]
name = nt[1]
job = nt[2]

In [36]:
name

'Tom'

### Unpacking

In [32]:
idnum2, name2, job2 = nt

In [34]:
name2

1001

In [37]:
a1 = [1001, 'Tom', 'warden']
idnum = a1[0]
name = a1[1]
job = a1[2]

In [38]:
idnum

1001

In [41]:
idnum2, name2 = a1[0:2]

In [51]:
a1[0:2]

[1001, 'Tom']

In [43]:
t1 = (1001, 'Tom', 'warden')
t2 = (1002, 'Jerry', 'Toublemaker')

In [55]:
t = [ ]
t.append(t1[0])
t.extend(t1)
t.extend(t1[:])

In [49]:
t

[1001, 1001, 'Tom', 'warden']

In [53]:
t[-1]

'warden'

## Dictionaries

In [61]:
## hashmap, keypair values

In [136]:
d1 = {'id': 1001, 'name': 'Tom',  'job': 'warden'}
d2 = {'id': 1002, 'name': 'Jerry',  'job': 'Troublemaker'}
d3 = {'id': 1003, 'name': 'Puck',  'job': 'Antihero'}

In [139]:
anima = [d1, d2, d3]
anima[0]['name']

'Tom'

In [65]:
my_dict = { }

In [66]:
type(my_dict)

dict

In [146]:
my_dict = {1: 'Newton', 2: 'Bhor', 3: 'Benjamin', 4: [2, 4, 6 , 8 ], 5: ('a', 'b', 'c'), 6: d1}

In [147]:
my_dict

{1: 'Newton',
 2: 'Bhor',
 3: 'Benjamin',
 4: [2, 4, 6, 8],
 5: ('a', 'b', 'c'),
 6: {'id': 1001, 'name': 'Tom', 'job': 'warden'}}

In [79]:
my_dict[6]['job']

'warden'

In [80]:
my_dict.get(4)

[2, 4, 6, 8]

In [83]:
d1.get('name')
d1['name'] = 'Bull'

In [84]:
d1.get('name')

'Bull'

In [89]:
test = my_dict.pop(2)
test

'Bhor'

In [90]:
my_dict

{3: 'Benjamin',
 4: [2, 4, 6, 8],
 5: ('a', 'b', 'c'),
 6: {'id': 1001, 'name': 'Bull', 'job': 'warden'}}

In [92]:
d1.clear()

In [93]:
d1

{}

In [99]:
d1.popitem()

KeyError: 'popitem(): dictionary is empty'

In [101]:
del d1

In [102]:
d1

NameError: name 'd1' is not defined

In [105]:
d1.keys()

dict_keys(['id', 'name', 'job'])

In [106]:
d1.values()

dict_values([1001, 'Tom', 'warden'])

In [133]:
names = ['Tom', 'Jerry', 'Bunny']
jobs = ['Warden', 'Toublemaker', 'hero' ]

In [134]:
 chars = dict(zip(names, jobs))

In [110]:
for name in names:
    print(name)

Tom
Jerry
Bunny

In [112]:
for (name, ch) in chars.items():
    print(name, "=>", ch)

Tom => Warden
Jerry => Toublemaker
Bunny => hero

In [113]:
for name in chars.keys():
    print(name, "=>", chars[name])

Tom => Warden
Jerry => Toublemaker
Bunny => hero

In [122]:
d2  = d1.copy()
d2

{'id': 1001, 'name': 'Tom', 'job': 'warden'}

In [124]:
d2['name'] = 'Gecko'
d2

{'id': 1001, 'name': 'Gecko', 'job': 'warden'}

In [125]:
d1

{'id': 1001, 'name': 'Tom', 'job': 'warden'}

In [140]:
names

['Tom', 'Jerry', 'Bunny']

## checking membership

In [142]:
if 'Tom' in names:
    print(names)

['Tom', 'Jerry', 'Bunny']

In [148]:
if 1 in my_dict:
    print("I am there")
    print(my_dit)

I am there
{1: 'Newton', 2: 'Bhor', 3: 'Benjamin', 4: [2, 4, 6, 8], 5: ('a', 'b', 'c'), 6: {'id': 1001, 'name': 'Tom', 'job': 'warden'}}

In [152]:
if  'Newton' in my_dict.values():
    print("I am there")
    print(my_dict)

I am there
{1: 'Newton', 2: 'Bhor', 3: 'Benjamin', 4: [2, 4, 6, 8], 5: ('a', 'b', 'c'), 6: {'id': 1001, 'name': 'Tom', 'job': 'warden'}}

In [149]:
my_hero = "Tom Cat"

In [150]:
if 'T' in my_hero:
    print(my_hero)

Tom Cat

In [154]:
len(d1)
print(d1)

{'id': 1001, 'name': 'Tom', 'job': 'warden'}

In [155]:
d2

{'id': 1002, 'name': 'Jerry', 'job': 'Troublemaker'}

In [156]:
d2.clear()

In [158]:
any(d2)

False

In [161]:
any(jobs)
jobs.clear()
any(jobs)

False

## Functions

In [162]:
def function_name(parameter):
    result = 'statements'
    return result

In [195]:
def add(a, b):
    return a + b

In [196]:
x = add(3, 4)
x

7

In [197]:
# default parameters
def graph(x, a=0.78, c=0.5):
    y = x ** 2 + (4 * a * c) -7
    return y

In [176]:
def echo():
    print("Hello Hello")

In [177]:
echo()

Hello Hello

In [166]:
add(3, 6)

9

In [167]:
add(7880, 6543)

14423

In [170]:
a = 0.8
c = 2 * (22/7)
x_points = [0.0, 0.4, 0.7, 1.5, 3.2, 5.1]
y_points = [ ]

In [171]:
for p in x_points:
    g = graph(p, a, c)
    y_points.append(g)

In [175]:
for y in y_points:
    print("%.2f" % y)

13.11
13.27
13.60
15.36
23.35
39.12

In [180]:
for p in x_points:
    g = graph(p, a)
    y_points.append(g)

In [181]:
for y in y_points:
    print("%.2f" % y)

13.11
13.27
13.60
15.36
23.35
39.12
-5.40
-5.24
-4.91
-3.15
4.84
20.61

In [182]:
y_points.clear() 
for p in x_points:
    g = graph(p, a, c)
    y_points.append(g)

In [183]:
y_points

[13.114285714285714,
 13.274285714285714,
 13.604285714285712,
 15.364285714285714,
 23.354285714285716,
 39.12428571428571]

In [184]:
y_points.clear() 
for p in x_points:
    g = graph(p, a)
    y_points.append(g)

In [185]:
y_points

[-5.4, -5.24, -4.91, -3.15, 4.840000000000002, 20.61]

## scope

In [212]:
x = 999

def magic():
    x = 8.7
    print("Print x from within magic function:\t", x)
    
magic()
print("Print x from within magic function:\t", x)

Print x from within magic function:	 8.7
Print x from within magic function:	 999

In [210]:
magic(x)

Print x from within magic function:	 999